.s2{
    background-color: rgb(7, 7, 126);
    width: 100%;
    height: 100px;
}
.s2 h1{
position: relative;left:80%;
color: aliceblue;
}
.s2 p{
    position: relative;left:82%;
    color: aliceblue;
}
html{
    overflow-x: hidden;
    overflow-y: auto;
    width:100%;
    height: 100%;
}
.body{
margin: 0px;
padding: 0px;
}
.p1{
    color: rgb(249, 249, 252);
    position: relative; left: 20%;bottom:300px;
    text-align: justify;
    width: 200px;
    font-size: 15px;
}
.s3{
    display: flex;
    position: relative;top: 200px;left: 60%;
}
.s3 img{
    border-radius: 50%;
    height: 400px;
    width: 400px;
    position: relative;right: 650px;
}
.p2{
    position: relative;right: 55%;bottom: 420Px;
    font-size: 30px;
    color: rgb(23, 162, 197);
}
.p3{
    position: relative;right: 40%;bottom: 400Px;
    font-size: 30px;
    color: rgb(23, 162, 197);
}
.p4{
    position: relative;right: 30%;bottom: 380Px;
    font-size: 30px;
    color: rgb(23, 162, 197);
    
}
.p5{
    position: relative;right: 40%;bottom: 330Px;
    font-size: 30px;
    color: rgb(23, 162, 197);
    
}
.p6{
    position: relative;right: 50%;bottom: 310Px;
    font-size: 30px;
    color: rgb(23, 162, 197);
}
.s7 p{
    height: 100px;
    background-color: grey;
    color: aliceblue;
    width: 30%;
    width: 200px;
   
}
.s7{
    display: flex;
    text-align: center;
}
.s6 button{
    position: relative; left: 45%;bottom: 70px;
    color: black;
    background-color: blue;
    width: 110px;
    height: 35px;
    padding-left: 10px;
}
.s8 button{
    position: relative; left: 45%;top: 50px; 
    background-color: black;
    color: aliceblue;
}
.s9 hr{
    color: rgb(112, 13, 13);
    width: 50px;
    height: 50px;
}
.s9 button{
    position: relative; right: 45%;top: 150px;
    color: black;
    background-color: blue;
    width: 110px;
    height: 35px;
    padding-left: 10px;
}

.s5 h5{
    text-align: justify;
    position: relative; bottom: 100px; left: 250px;
    color: rgb(2, 2, 59);
    width: 180px;
    font-size: 30px;
}
.s5 p{
    color: aliceblue;
    text-align: justify;
    width: 200px;
    position: relative; right: 80px; top: 50px;
}
.s5{
    width: 100%;
}
.s{
    background-color: rgb(82, 55, 14);
    height:200PX;
    width: 100%;
}
.s10 h5{
    width: 200px;
    height: 200px;
    background-color: blue;
    color: aliceblue;
    font-size: 30px;
}
.s10{
    position: relative; top: 200px; left: 40%;
}